<div class="wrapper">
  <form [formGroup]="contactForm" (submit)="handleSubmit()" novalidate>
    
    <section formGroupName="personalData">
      <input formControlName="email" placeholder="Email" />
      <input formControlName="confirmEmail" placeholder="Confirmer Email" />
      <input formControlName="mobile" placeholder="Mobile Phone" />
      <select formControlName="country">
        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
      </select>
    </section>

    <select formControlName="requestType">
      <option *ngFor="let request of requestTypes" [value]="request">{{request}}</option>
    </select>
    
    <input formControlName="text" placeholder="Information" />

    <button type="submit" [disabled]="contactForm.pristine || !contactForm.valid">Save</button>
    <button type="reset" (click)="revert()" [disabled]="contactForm.pristine || !contactForm.valid">Revert</button>
  </form>
</div>