.wrapper {
  box-sizing: border-box;
  width: 15rem;
  margin: 1rem auto 0;
  padding: 1rem;
}

input, button, select {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

input {
  outline: none;
  padding: 0 0 0.5rem;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: black;
}

button {
  background: black;
  padding: 1rem;
  text-align: center;
  color: white;
}
button[disabled] {
  opacity: 0.3;
}